{% extends 'base.html' %}

{% load static %}

{% block content  %}
    <div class="diet">
        <h1 class="h1">Рацион</h1>
        <div class="day">
            <!-- Кнопка смена дня -->
        </div>
        <div class="table-container">
            <div class="table-caption">
                <img src="{% static 'img/apple.png' %}">
                <p>Завтрак</p>
            </div>
            <table class="table">
                <thead class="table-header">
                    <tr>
                        <th scope="col">Название</th>
                        <th scope="col">Грамм</th>
                        <th scope="col">Ккал</th>
                    </tr>
                </thead>
                <tbody>
                    {% for meal in breakfast %}
                        {% include 'diet/includes/table_data_meal.html' %}
                    {% endfor %}   
                </tbody>
            </table>
        </div>
        <div class="table-container">
            <div class="table-caption">
                <img src="{% static 'img/cabbage.png' %}">
                <p>Обед</p>
            </div>
            <table class="table">
                <tbody>
                    {% for meal in lunch %}
                        {% include 'diet/includes/table_data_meal.html' %}
                    {% endfor %}                    
                </tbody>
            </table>
        </div>
        <div class="table-container">
            <div class="table-caption">
                <img src="{% static 'img/grape.png' %}">
                <p>Ужин</p>
            </div>
            <table class="table">
                <tbody>
                    {% for meal in supper %}
                        {% include 'diet/includes/table_data_meal.html' %}
                    {% endfor %}   
                </tbody>
            </table>
        </div>
    </div>
    <div class="second-column">
        <div class="food-container">
            <h2 class="h1">Продукты</h2>
            <div class="day">
                <!-- Количество дней -->
            </div>
            <div class="btn-list">
                <a class='btn' href="{% url 'ingredients_url' %}">Посмотреть список</a>
            </div>
        </div>
        <div class="about-diet">
            <h3 class="h1">О диете</h3>
            <div class="diet-data">
                <div class="calories">
                    <img src="{% static 'img/calories-icon.svg' %}">
                    <p class="name-data">Общий ккал</p>
                    <p class="value">{{ info.calories__sum|floatformat:'0' }}</p>
                </div>
                <div class="proteins">
                    <img src="{% static 'img/chicken-icon.svg' %}">
                    <p class="name-data">Белки</p>
                    <p class="value">{{ info.proteins__sum|floatformat:'0' }}</p>
                </div>
                <div class="oil">
                    <img src="{% static 'img/oil-icon.svg' %}">
                    <p class="name-data">Жиры</p>
                    <p class="value">{{ info.fats__sum|floatformat:'0' }}</p>
                </div>
                <div class="carbohydrates">
                    <img src="{% static 'img/bread-icon.svg' %}">
                    <p class="name-data">Углеводы</p>
                    <p class="value">{{ info.carbs__sum|floatformat:'0' }}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock content  %}
