{% load static %}
<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;800&display=swap" rel="stylesheet">  
        <link rel="stylesheet" href="{% static 'css/my.css' %}" type="text/css">
        <title>FOOD</title>
    </head>
    <body>
        <header class="header">
            <div class="container">
                <div class="nav">
                    <img src="{% static 'img/logo.svg' %}" alt="FOOD" height="50px" width="50px">
                    <p class="name">FOOD</p>
                    <ul class="menu">
                        <li><a href="#">Главная</a></li>
                        <li><a href="#">Статьи</a></li>
                        <li><a href="#">О нас</a></li>
                        <li><a href="#">Контакты</a></li>
                    </ul>
                    <div class="person">
                        <img src="{% static 'img/person.svg' %}" height="28px" width="28px">
                    </div>
                </div>  
            </div>
        </header>

        <main class="main">
            <div class="container">
                {% block content  %}
                
                {% endblock content  %}                
            </div>
        </main>
        <footer class="footer">
            <div class="container">
                
            </div>
        </footer>
    </body>
</html>